<h1>Dear <%= @user.username %>,</h1>
<p>Did you delete your note? If you had unintentionally deleted your note, please visit the <%= "link", "https://google.com.sg" %> and log in to recover your note. If your account is hacked, please contact us at XXX-XXXX-XXXX to recover your account.</p>
